{% extends 'base.html.twig' %}

{% block body %}
<section id="list-conferences">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <h1 class="fw-bolder" style="color: limegreen;">List all conferences</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
                    {% for conference in conferences %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="card-title">
                                    <h5 class="fw-bolder mb-0">
                                        <a href="{{ path('app_conference_show', { id : conference.id }) }}"
                                           class="stretched-link text-decoration-none"
                                           style="color: limegreen;">{{ conference.name }}</a>
                                    </h5>
                                </div>
                                <div class="card-text d-flex justify-content-between">
                                    <div>
                                        {% if conference.organizations is not empty %}
                                            <p class="my-0">{{ conference.organizations|map(o => o.name)|join(', ') }}</p>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <p class="mb-0">From <span
                                                class="fw-semibold">{{ conference.startAt|date }}</span>
                                            to
                                            <span class="fw-semibold">{{ conference.endAt|date }}</span></p>
                                        <p class="my-0 fst-italic">{{ conference.volunteerings|length }} volunteers
                                            yet.</p>
                                        <p class="mt-0">Accessible
                                            : {{ conference.accessible ? 'Yes' : 'No' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div> There are no conferences yet...</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
